<p style="color: green">
  <%= notice %>
</p>

<%= render @profile %>

<div>
<div class="btn-group my-5">
  <%= link_to "Edit this profile", edit_profile_path(@profile), class: "btn btn-sm btn-outline-warning" %>
  <%= link_to "Back to profiles", profiles_path, class: "btn btn-sm btn-outline-secondary" %>
  <%= button_to "Destroy this profile", @profile, method: :delete, class: "btn btn-sm btn-outline-danger" %>
</div>
