<div class="card shadow p-5 my-5">
  <%= simple_form_for(@user) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :name %>
    </div>

    <div id='books'>
      <%= f.simple_fields_for :books do |book| %>
        <%= render 'book_fields', f: book %>
      <% end %>

      <div class='links'>
        <%= link_to_add_association 'Add book', f, :books, class: "btn btn-sm btn-outline-success mt-3" %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-sm btn-outline-success mt-3" %>
    </div>
  <% end %>
</div>
